<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Invitation to the call "{{ name }}"</title>
</head>
<body>
<p>
    Hello!
</p>
<p>
    {{ sender }} has invited you to take part in the call for proposals
    "<strong>{{ name }}</strong>"{% if organizer_name %} organised by {{ organizer_name }}{% endif %}
    as {{ role }}.<br>
    Please visit <a href="{{ link }}">this page</a> to sign up and accept your invitation.
    Please note: this invitation expires at {{ invitation.get_expiration_time|date:'d.m.Y H:i' }}!
</p>
{% if scope_link %}
<p>
    Once you have accepted it, the call is available <a href="{{ scope_link }}">here</a>.
</p>
{% endif %}
<p>
    {{ extra_invitation_text }}
</p>
</body>
</html>
