<html>
<head lang="en"><meta charset="UTF-8"><title>Resource allocation limit reached</title></head>
<body>
<p>Dear {{ user.first_name }},</p>
<p>This message is sent by {{ site_name }} to project administrators and project managers.</p>
<p>{{ usage_percentage }}% of the allocation for your project <strong>{{ project_name }}</strong> resource <strong><a href="{{ resource_url }}">{{ resource_name }}</a></strong> for <strong>{{ component_name }}</strong> (<strong>{{ allocation_total }} {{ measured_unit }}</strong>) has been consumed (current usage: {{ current_usage }} {{ measured_unit }}).</p>
<p>If you require further information, contact your service provider:{% if provider_email %} <a href="mailto:{{ provider_email }}">{{ provider_email }}</a>{% endif %}.</p>
<p>Best regards,<br>{{ provider_name }}{% if provider_email %}<br>{{ provider_email }}{% endif %}</p>
</body>
</html>
