<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your order has been rejected.</title>
</head>
<body>
<p>
    Hello!
</p>
<p>
    Your <a href="{{ link }}">order</a> to {{ order_type }} a resource {{ order.resource.name }} has been rejected.
</p>
{% if order.consumer_rejection_comment %}
<p>
    Consumer rejection reason: {{ order.consumer_rejection_comment }}
</p>
{% endif %}
{% if order.provider_rejection_comment %}
<p>
    Provider rejection reason: {{ order.provider_rejection_comment }}
</p>
{% endif %}
</body>
</html>
