<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Projects will be deleted.</title>
</head>
<body>
<p>Hello {{ user.full_name }}!</p>
<p>The following projects are ending {% if delta == 1 %} tomorrow {% else %} in {{ delta }} days{% endif %}:</p>
<ul>
{% for project in projects %}
    <li><a href="{{ project.url }}">{{ project.name }}</a></li>
{% endfor %}
</ul>
<p>
    End of the project will lead to termination of all resources in the project. <br />
    If you are aware of that, then no actions are needed from your side. <br />
    If you need to update project end date, please update it in project details.
</p>
<p>Thank you!</p>
</body>
</html>
