<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>A new {{ order_type }} order for {{ order.offering.name }} has been placed by {{ order.created_by.get_full_name|default:"a user" }}.</title>
</head>
<body>
<p>
    Hello!
</p>
<p>
    {{ order.created_by.get_full_name|default:"A user" }} has placed a new {{ order_type }} order for {{ order.offering.name }}
    in project {{ order.project.name }} of organization {{ order.project.customer.name }}.
</p>
{% if order_attributes %}
<p>
    Requested configuration:
</p>
<ul>
    {% for label, value in order_attributes %}<li>{{ label|escape }}: {{ value|escape }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if order_limits %}
<p>
    Requested limits:
</p>
<ul>
    {% for label, value in order_limits %}<li>{{ label|escape }}: {{ value|escape }}</li>
    {% endfor %}
</ul>
{% endif %}
<p>
    Please visit <a href="{{ order_url }}">{{ site_name }}</a> to find out more details.
</p>
</body>
</html>
