<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Resource {{ resource.name }} will be deleted.</title>
</head>
<body>
<p>Dear {{ user.full_name }},</p>

<p>
    Termination date of your {{ resource.name }} is approaching and it will be
    deleted{% if delta == 1 %} tomorrow {% else %} in {{ delta }} days{% endif %}.<br />
    If you are aware of that, then no actions are needed from your side. <br />
    If you need to update resource end date, please update it in resource details {{ resource_url }}.
</p>

<p>Thank you!</p>
</body>
</html>
