body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #555555;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-family: 'Source Sans Pro';
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: right;
  text-align: right;
}

h2.name {
 font-size: 1.4em;
 font-weight: normal;
 margin: 0;
}

#details {
  margin-bottom: 30px;
  border-bottom: 1px solid #AAAAAA;
  padding: 20px 0;
}

#client {
  padding-left: 6px;
  float: left;
}

#client span {
  color: #5D6975;
  text-align: right;
  width: 180px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0 0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3 {
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .total {
  background: #57B223;
  color: #FFFFFF;
}

table td.unit,
table td.no,
table td.total {
  font-size: 1.2em;
  width: 20px;
}

table tr.foot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

table tr.foot:first-child td {
  border-top: none;
}

table tr.foot:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223;
}

table tr.foot td:first-child {
  border: none;
}
