/dist
/build
/venv
*.egg
*.egg-info
*.pyc
*.mo
.DS_Store
src/waldur_core/server/settings.py

# Editor artifacts
/.idea
/.project
/.pydevproject

# Testing artifacts

TEST-*.xml
coverage.xml
test_report.xml
.cache/
.pytest_cache/

# documentation
docs/_build/
docs/drfapi/

/static
