/dist
/build
/venv
*.egg
*.egg-info
*.pyc
*.mo
.DS_Store
src/waldur_core/server/settings.py

# Editor artifacts
/.idea
/.project
/.pydevproject

# llm
.claude/settings.local.json

# Testing artifacts

TEST-*.xml
coverage.xml
test_report.xml
.cache/
.pytest_cache/
pytest.ini

/static
__pycache__/

.vscode/
pyrightconfig.json
