[program:jupyterhub]
command={{jupyter_vars.jupyterhub_dir}}/start-jupyterhub.sh
stdout_logfile={{ jupyter_vars.jupyterhub_log_dir }}/jupyterhub.log
directory={{jupyter_vars.jupyterhub_dir}}
autostart=true
autorestart=false
stopasgroup=true
redirect_stderr=true
user=root

[supervisorctl]
