<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site_name }} - API Documentation</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "landing/css/style.css" %}">
</head>
<body>
    <h1 class="title">{{ site_name }} - API documentation</h1>

    <div class="well">
        <ul class="list-unstyled">
            {% for api_group in api_groups %}
            <li><a class="waldur-link" href="/docs/{{api_group}}/">{{ api_group|capfirst }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
