[Unit]
Description=Waldur Celery beat service
After=network.target

[Service]
Type=forking
User=waldur
Group=waldur
PermissionsStartOnly=true
EnvironmentFile=/etc/waldur/celery.conf
WorkingDirectory=/var/lib/waldur
ExecStartPre=/usr/bin/mkdir -p /run/waldur/celerybeat
ExecStartPre=/usr/bin/chown -R waldur:waldur /run/waldur/celerybeat
ExecStart=/usr/bin/celery beat \
    --app=${CELERY_APP} \
    --detach \
    --logfile=${CELERYBEAT_LOG_FILE} \
    --loglevel=${CELERYBEAT_LOG_LEVEL} \
    --pidfile=/var/run/waldur/celerybeat/beat.pid \
    --workdir=/var/lib/waldur \
    $CELERYBEAT_OPTS
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
