[Unit]
Description=Waldur uWSGI service
After=network.target

[Service]
User=waldur
Group=waldur
PermissionsStartOnly=true
WorkingDirectory=/var/lib/waldur
ExecStartPre=/usr/bin/mkdir -p /run/waldur/uwsgi
ExecStartPre=/usr/bin/chown -R waldur:waldur /run/waldur/uwsgi
ExecStart=/usr/sbin/uwsgi --ini /etc/waldur/uwsgi.ini
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
