[Unit]
Description=Waldur Celery worker service
After=network.target

[Service]
Type=forking
User=waldur
Group=waldur
PermissionsStartOnly=true
EnvironmentFile=/etc/waldur/celery.conf
WorkingDirectory=/var/lib/waldur
ExecStartPre=/usr/bin/mkdir -p /run/waldur/celery
ExecStartPre=/usr/bin/chown -R waldur:waldur /run/waldur/celery
ExecStart=/usr/bin/celery multi start $CELERYD_NODES \
    --app=${CELERY_APP} \
    --logfile=${CELERYD_LOG_FILE} \
    --loglevel=${CELERYD_LOG_LEVEL} \
    --pidfile=/var/run/waldur/celery/%%n.pid \
    $CELERYD_OPTS
ExecStop=/usr/bin/celery multi stopwait $CELERYD_NODES \
    --pidfile=/var/run/waldur/celery/%%n.pid
ExecReload=/usr/bin/celery multi restart $CELERYD_NODES \
    --app=${CELERY_APP} \
    --logfile=${CELERYD_LOG_FILE} \
    --loglevel=${CELERYD_LOG_LEVEL} \
    --pidfile=/var/run/waldur/celery/%%n.pid \
    $CELERYD_OPTS
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
