<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>You have been invited by <strong>{{ invited_by_name }}</strong> to join the reviewer pool for the call "<strong>{{ call_name }}</strong>" on {{ site_name }}.</p>

<p>To accept or decline this invitation, please follow the link below:</p>

<p><a href="{{ invitation_link }}">{{ invitation_link }}</a></p>

<p>If you do not yet have an account, you will need to register and create a reviewer profile before accepting.</p>

<p><em>This is an automated message from {{ site_name }}. Please do not reply to this email.</em></p>
</body>
</html>
