[Unit]
Description=RocketChat Server
After=network.target remote-fs.target nss-lookup.target mongod.target

[Service]
Environment="MONGO_URL=mongodb://localhost:27017/rocketchat"
Environment="NODE_ENV=production"
Environment="PORT=3000"
Environment="ROOT_URL={{ rocketchat_url|default('http://localhost') }}"
ExecStart=/usr/bin/node /opt/rocketchat/bundle/main.js
Group=rocketchat
Restart=always
RestartSec=10
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=nodejs-example
User=rocketchat

[Install]
WantedBy=multi-user.target
