{% load i18n %}
{% load waldur_core %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% trans "Resource creation request details" %}</title>
</head>
<body>
<p>It has been requested by user {{ flow.requested_by.full_name }} with email {{ flow.requested_by.email }}.</p>

{% if flow.customer_create_request %}
<h1>{% trans 'Customer create request details' %}</h1>

<ul>
    <li><b>{% trans 'Organization name' %}</b>: {{ flow.customer_create_request.name }}</li>

{% if flow.customer_create_request.native_name %}
    <li><b>{% trans 'Organization native name' %}</b>: {{ flow.customer_create_request.native_name }}</li>
{% endif %}

{% if flow.customer_create_request.abbreviation %}
    <li><b>{% trans 'Organization abbreviation' %}</b>: {{ flow.customer_create_request.abbreviation }}</li>
{% endif %}

{% if flow.customer_create_request.contact_details %}
    <li><b>{% trans 'Contact details' %}: {{ flow.customer_create_request.contact_details }}</b></li>
{% endif %}

{% if flow.customer_create_request.agreement_number %}
    <li><b>{% trans 'Contact details' %}: {{ flow.customer_create_request.agreement_number }}</b></li>
{% endif %}

{% if flow.customer_create_request.sponsor_number %}
    <li><b>{% trans 'External ID of the sponsor covering the costs' %}: {{ flow.customer_create_request.sponsor_number }}</b></li>
{% endif %}

{% if flow.customer_create_request.email %}
    <li><b>{% trans 'Email address' %}: {{ flow.customer_create_request.email }}</b></li>
{% endif %}

{% if flow.customer_create_request.phone_number %}
    <li><b>{% trans 'Phone number' %}: {{ flow.customer_create_request.phone_number }}</b></li>
{% endif %}

{% if flow.customer_create_request.access_subnets %}
    <li><b>{% trans 'List of IPv4 or IPv6 CIDR addresses from where connection to self-service is allowed' %}: {{ flow.customer_create_request.access_subnets }}</b></li>
{% endif %}

{% if flow.customer_create_request.registration_code %}
    <li><b>{% trans 'Registration code' %}: {{ flow.customer_create_request.registration_code }}</b></li>
{% endif %}

{% if flow.customer_create_request.homepage %}
    <li><b>{% trans 'Homepage URL' %}: {{ flow.customer_create_request.homepage }}</b></li>
{% endif %}

{% if flow.customer_create_request.domain %}
    <li><b>{% trans 'Organization domain' %}: {{ flow.customer_create_request.domain }}</b></li>
{% endif %}

{% if flow.customer_create_request.address %}
    <li><b>{% trans 'Legal address' %}: {{ flow.customer_create_request.address }}</b></li>
{% endif %}

{% if flow.customer_create_request.postal %}
    <li><b>{% trans 'Postal code' %}: {{ flow.customer_create_request.postal }}</b></li>
{% endif %}

{% if flow.customer_create_request.bank_name %}
    <li><b>{% trans 'Bank name (for accounting)' %}: {{ flow.customer_create_request.bank_name }}</b></li>
{% endif %}

{% if flow.customer_create_request.bank_account %}
    <li><b>{% trans 'Bank account number' %}: {{ flow.customer_create_request.bank_account }}</b></li>
{% endif %}
</ul>
{% else %}
<b>{% trans 'Organization name' %}</b>: {{ flow.customer.name }}
{% endif %}

<h1>{% trans 'Project create request details' %}</h1>

<ul>
<li><b>{% trans 'Name' %}: {{ flow.project_create_request.name }}</b></li>

{% if flow.project_create_request.description %}
<li><b>{% trans 'Description' %}: {{ flow.project_create_request.description }}</b></li>
{% endif %}

{% if flow.project_create_request.end_date %}
<li><b>{% trans 'End date' %}: {{ flow.project_create_request.end_date }}</b></li>
{% endif %}
</ul>

<h1>{% trans 'Resource create request details' %}</h1>

<ul>
<li><b>{% trans 'Name' %}: {{ flow.resource_create_request.name }}</b></li>

{% if flow.resource_create_request.description %}
<li><b>{% trans 'Description' %}: {{ flow.resource_create_request.description }}</b></li>
{% endif %}

{% if flow.resource_create_request.end_date %}
<li><b>{% trans 'End date' %}: {{ flow.resource_create_request.end_date }}</b></li>
{% endif %}

<li><b>{% trans 'Offering name' %}: {{ flow.resource_create_request.offering.name }}</b></li>

<li><b>{% trans 'Offering category' %}: {{ flow.resource_create_request.offering.category.title }}</b></li>

{% if flow.resource_create_request.plan %}
<li><b>{% trans 'Plan' %}: {{ flow.resource_create_request.plan.name }}</b></li>
{% endif %}

{% if flow.resource_create_request.attributes %}
<li><b>{% trans 'Attributes' %}</b>:

<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <th>#</th>
  <th>{% trans "NAME" %}</th>
  <th>{% trans "VALUE" %}</th>
</tr>
{% for key, value in flow.resource_create_request.attributes.items|dictsort:"0.lower" %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ key }}</td>
    <td>{{ value | pretty_json }}</td>
  </tr>
{% endfor %}
</table>
</li>
{% endif %}

{% if flow.resource_create_request.limits %}
<li><b>{% trans 'Limits' %}</b>:
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <th>#</th>
  <th>{% trans "NAME" %}</th>
  <th>{% trans "VALUE" %}</th>
</tr>
{% for key, value in flow.resource_create_request.limits.items|dictsort:"0.lower" %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ key }}</td>
    <td>{{ value }}</td>
  </tr>
{% endfor %}
</table>
</li>
{% endif %}
</ul>
</body>
</html>
