{% load i18n %}
{% if flow.customer_create_request.is_rejected %}
<p>{% trans 'Customer creation request has been rejected.' %}</p>

{% if flow.customer_create_request.reviewed_by %}
<p><b>{% trans 'Reviewer name:' %}</b> {{ flow.customer_create_request.reviewed_by.full_name }}</p>
{% endif %}

{% if flow.customer_create_request.reviewed_at %}
<p><b>{% trans 'Reviewed at:' %}</b>
{{ flow.customer_create_request.reviewed_at|date:"SHORT_DATE_FORMAT" }}
{{ flow.customer_create_request.reviewed_at|time:"H:i" }}</p>
{% endif %}

{% if flow.customer_create_request.review_comment %}
<p><b>{% trans 'Comment:' %}</b> {{ flow.customer_create_request.review_comment }}</p>
{% endif %}
{% endif %}


{% if flow.project_create_request.is_rejected %}
<p>{% trans 'Project creation request has been rejected.' %}</p>

{% if flow.project_create_request.reviewed_by %}
<p><b>{% trans 'Reviewer name:' %}</b> {{ flow.project_create_request.reviewed_by.full_name }}</p>
{% endif %}

{% if flow.project_create_request.reviewed_at %}
<p><b>{% trans 'Reviewed at:' %}</b>
{{ flow.project_create_request.reviewed_at|date:"SHORT_DATE_FORMAT" }}
{{ flow.project_create_request.reviewed_at|time:"H:i" }}</p>
{% endif %}

{% if flow.project_create_request.review_comment %}
<p><b>{% trans 'Comment:' %}</b> {{ flow.project_create_request.review_comment }}</p>
{% endif %}
{% endif %}

{% if flow.resource_create_request.is_rejected %}
<p>{% trans 'Resource creation request has been rejected.' %}</p>

{% if flow.resource_create_request.reviewed_by %}
<p><b>{% trans 'Reviewer name:' %}</b> {{ flow.resource_create_request.reviewed_by.full_name }}</p>
{% endif %}

{% if flow.resource_create_request.reviewed_at %}
<p><b>{% trans 'Reviewed at:' %}</b>
{{ flow.resource_create_request.reviewed_at|date:"SHORT_DATE_FORMAT" }}
{{ flow.resource_create_request.reviewed_at|time:"H:i" }}</p>
{% endif %}

{% if flow.resource_create_request.review_comment %}
<p><b>{% trans 'Comment:' %}</b> {{ flow.resource_create_request.review_comment }}</p>
{% endif %}
{% endif %}
